<h6 class="text-muted text-normal text-uppercase padding-top-2x">Striped rows</h6>
<hr class="margin-bottom-1x">
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product No</th>
                <th>Description</th>
                <th>Cost</th>
                <th>Retails</th>
                <th>Stocks</th>
                <th>Edit</th>
                <th>Add Image</th>



            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Image</td>
                <td>12345678987</td>
                <td>iPhone 5C LCD Digitizer Tianma Premium Quality (Black)</td>
                <td>$12.90</td>
                <td>104</td>
                <td>104</td>
                <td><input type="file" id="file-input"></td>
                <td><a class="btn btn-outline-success" href="#">Add Image</a></td>
            </tr>
        </tbody>
    </table>z
</div>