.nav-wrapper{
    margin-left: 215px;
    color: black;
}

nav{
    background: #fff;
    height: 75px;

}
nav ul a{
    padding:0px 115px;
}
nav ul li{
    padding: 5px;
    margin-left : -100px;
}
ul li a {
    color: #000;
    text-transform: uppercase;
}
label {
    font-size: 20.8px;
    color: black;
}
.inliner li{
    display: inline;
}
.signin{
    margin-right: 270px;

}
.cart-button
{
    margin-right: 245px;
}

.container{
    max-width: 100% !important;
    width: 100%  !important;
}
.row{
    margin:0px !important;
}
.slider .slides li img{
    background-position: top;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 28%;
}

.oe_overlay{
    background:#000;
    opacity:0;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}
ul.oe_menu{
    list-style:none;
    position:relative;
    margin:30px 0px 0px 40px;
    width:560px;
    float:left;
    clear:both;
}
ul.oe_menu > li{
    width:112px;
    height:101px;
    padding-bottom:2px;
    float:left;
    position:relative;
}
ul.oe_menu > li > a{
    display:block;
    background-color:#101010;
    color:#aaa;
    text-decoration:none;
    font-weight:bold;
    font-size:12px;
    width:90px;
    height:80px;
    padding:10px;
    margin:1px;
    text-shadow:0px 0px 1px #000;
    opacity:0.8;
}
ul.oe_menu > li > a:hover,
ul.oe_menu > li.selected > a{
    background:#fff;
    color:#101010;
    opacity:1.0;
}
.oe_wrapper ul.hovered > li > a{
    background:#fff;
    text-shadow:0px 0px 1px #FFF;
}
ul.oe_menu div{
    position:absolute;
    top:103px;
    left:1px;
    background:#fff;
    width:498px;
    height:180px;
    padding:30px;
    display:none;
}
ul.oe_menu div ul li a{
    text-decoration:none;
    color:#222;
    padding:2px 2px 2px 4px;
    margin:2px;
    display:block;
    font-size:12px;
}
ul.oe_menu div ul.oe_full{
    width:100%;
}
ul.oe_menu div ul li a:hover{
    background:#000;
    color:#fff;
}
ul.oe_menu li ul{
    list-style:none;
    float:left;
    width: 150px;
    margin-right:10px;
}
li.oe_heading{
    color:#aaa;
    font-size:16px;
    margin-bottom:10px;
    padding-bottom:6px;
    border-bottom:1px solid #ddd;
}
/*.constrained {*/
    /*height:550px;*/
    /*overflow-y:scroll;*/
/*}*/

/*.constrained ::-webkit-scrollbar {*/
    /*!* This is the magic bit *!*/
    /*display: none;*/
/*}*/