html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*vertical-align: baseline;*/
    color: #2a2f31;
    font-family: "Proxima Nova Semibold";
    font-style: normal;
    letter-spacing: 2px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.logo{
    WIDTH: 300px;
    height: initial;
}
.navbar-default
{
    padding: 12px;
    font-size: 18px;
}
.signin
{
    padding: 25px;
    color: black;
}

.top-banner {
    margin-top: -3px;
    background-color: #DBE1E5;
}
.container {
    color: #2a2f31;
    font-family: "Proxima Nova Semibold";
    font-size: 16px;
    padding: 10px 0 8px;
    letter-spacing: 2px;
}
footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
    margin-top: 10px;
}
.top-nav {
    min-height: 34px;
    background-color: #DBE1E5;
    padding: 0;
    margin: 0;
    height: 34px;
}
ul.link-list {
    display: inline-block;
    color: silver;
    margin: 0;
    padding: 0;
    float: right;
}
ul.link-list > li  {
    float: left;
    margin-left: 5px;
    font-size: 75%;
}
ul.link-list > li > img {
    margin-top: -4px;
}
.link-overlay {
}
.removeMarginBtm
{
    margin-bottom: 0px !important;
}
.main-content {
    position: relative;
}
.tab-row {
    border-top: solid 2px #DBE1E5;
}
.tab-cell {
    /*border: solid 1px Purple;*/
    text-align: center;
    min-height: 34px;
    padding-top: 17px;
    padding-bottom: 15px;
    vertical-align: middle;
}
.tab-text {
    /*border: solid 1px Green;*/
    display: block;
}
.sub-menu {
    position: absolute;
    width: inherit;
    z-index: 999;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    background-color: #FFF;
    border: solid 2px #EEE;
    border-radius: 5px;
}
.sub-menu-cell {
    padding-left: -15px;
    padding-right: -15px;
}
.tab-hover {
    border-top: solid 3px #FFF;
}
.link-hover {
    border-top: solid 3px #FFF;
}
.tab-hover:hover
{
    border-top:3px solid #ec2635;
    background-color: white;
    cursor: pointer;
}
.padding-15{
    padding:15px;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.no-padding-left {
    padding-left: 0;
}
.no-padding-right {
    padding-right: 0;
}

.li
{
    display: list-item;
    text-align: -webkit-match-parent;
}

.hoverButtons
{
    width: 100px;
}

.footer-top-margin
{
    margin-top: 10px;
}

hr
{
    border-top: 1px solid #b7b0b0;
}
.page-header .header-top {
    background: #d3d9df;
    padding: 3px 0;
    border-bottom: 1px solid #d3d9df;
}
.top-header {
    position: relative;
}
.main-small-banner {
    width: 320px;
}
.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}
.link-box {
    float: left;
    margin: 5px;
    color: #2a2f31;
    font-family: "Proxima Nova Semibold";
    font-size: 12px;
    max-width: 215px;
    width: 215px;
    letter-spacing: 2px;
    border: solid 1px #2a2f31;
    background: none;
    background-color: #FFF;

}

.link-text {
    display: block;
    /*border: solid 1px Blue;*/
}
.img-row-1 {
    max-height: 400px !important;
}
.outset-menu {
    min-height: 5px;
    margin-top: -15px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(105,105,105,0.21);
    -moz-box-shadow: 0px 10px 5px 0px rgba(105,105,105,0.21);
    box-shadow: 0px 10px 5px 0px rgba(105,105,105,0.21);
}
.padding-2 {
    padding: 2px;
}
.padding-1 {
    padding: 1px;
}
.margin-1 {
    margin: 1px;
}
.site-button {
    margin-top: 15px;
    margin-left: 18px;
    background-image: none;
    background-color: transparent;
    /*border: solid 1px #DBE1E5;*/
    /*border-radius: 5px;*/
    padding: 5px 10px;
}
.site-button:hover {
    cursor: pointer;
    text-decoration: none;
}
.cart-button {
    float: right;
}
.cart-button > i {
    font-size: 1.8em;
    color: #2a2f31;
    float: left;
}
.cart-badge {
    margin-left: -15px;
    background-color: #EC2332;
    float: left;
    margin-top: 10px;
}
.cart-text {
    display: block;
    float: left;
    margin-top: 7px;
    color: #2a2f31;
}
.login-button {
    float: right;
}
.login-button > i {
    font-size: 1.8em;
    float: left;
    color: #2a2f31;
}
.login-text {
    display: block;
    float: left;
    margin-top: 7px;
    color: #2a2f31;
}
.search-group {
    margin-top: 18px;
}
.search-icon {
    background: none;
    font-size: 1.2em;
}
.search-input {
    border-style: solid;
    border-right: none;
    font-size: 1.2em;
}
.margin-25px
{
    margin-top: 30px;
    text-align: center;
}
.text-center-align
{
    text-align: center;
}