
<div class="container" ng-controller = "CategoryProductController as $ctrl">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3" ng-repeat = "product in $ctrl.productDto">
                <div>
                    <img ng-src="data:image/JPEG;base64,{{product.image}}" ng-click = "$ctrl.getProductDetails(product)" class= "img-responsive"  > 
                </div>
                <h3  class="product-description">{{product.description}}</h3>
                <h3  ng-show = "$ctrl.user" class="product-price">{{product.retailPrice}}</h3>
                <div class="input-group center">
                    <input ng-show = "$ctrl.user" type="text" class="form-control"  placeholder="Quantity" ng-model="$ctrl.countNumber[$index]" />
                    <button ng-show = "$ctrl.user" type="button" class="btn btn-primary" ng-click="$ctrl.updateCartCount($ctrl.countNumber[$index],product)">Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>