
<div class="container" ng-controller = "PartsController as p">
    <div class="row constrained">
        <div  class=" col-md-12" infinite-scroll="p.increaseLimit()" infinite-scroll-container='".constrained"'>
            <div class="col-md-3 mycontainer">
                    <div class="left-nav">
                        <accordion close-others="true" >
                            <accordion-group  is-open="isopen"
                                              ng-repeat="item in items">
                                <accordion-heading >
                                    {{item.brandName}}
                                    <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                                </accordion-heading>

                                <div ng-repeat="model in item.modelDtoList">{{model.modelName}}</div>
                            </accordion-group>
                        </accordion>
                    </div>

                    <div class="content">
                    </div>
                </div>
            <div class="col-md-2" ng-repeat = "product in p.productDto | limitTo:p.barLimit" style="height:300px;">

                <div  class= "img-responsive">
                    <img ng-src="data:image/JPEG;base64,{{product.image}}" ng-click = "p.getProductDetails(product)" style="cursor: pointer;"> 
                </div>
                <div ng-if="GlobalVariable.isValidUser == 'true'">
                <div style="text-align: center;padding-bottom:10px;"><span class="product-description">{{product.description}}</span></div>
                <div ng-show = "p.user" style="padding-bottom:10px;text-align: center;"><span  class="product-price">${{product.retailPrice}}</span></div>


                <div   ng-show = "product.quantity > 0 " style="padding-bottom:10px;">
                    <div class="col-md-6" style="width: 30%;padding: 0px;">
                     <input ng-show = "p.user" type="text" class="form-control"  placeholder="Qty" ng-model="p.countNumber[$index]" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" style="height: 30px"/>
                        </div>
                    <div class="col-md-6" style="padding-left: 4px;width: 70%;">
                    <button style="width: 68px;font-size:9px;height: 30px;" ng-show = "p.user" type="button" class="btn-primary" ng-click="p.updateCartCountParts(p.countNumber[$index],product)">Add To Cart</button>
                    </div>
                </div>
                <div   ng-show = "product.quantity <= 0 " style="padding-bottom:10px;">
                    <div  style="color: red;text-align: center;"><span style="color: red;">Out of stock</span></div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
