
<div class="container" ng-controller = "PartsController as p">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3" ng-repeat = "product in p.productDto">
                <div>
                    <img ng-src="data:image/JPEG;base64,{{product.image}}" ng-click = "p.getProductDetails(product)" class= "img-responsive"> 
                </div>
                <h2 class="product-description">{{product.description}}</h2>
                <h2 ng-show = "p.user" class="product-price">{{product.retailPrice}}</h2>
                <div class="input-group center">
                    <input ng-show = "p.user" type="text" class="form-control" placeholder="Quantity" ng-model="p.countNumber[$index]" />
                    <button ng-show = "p.user" type="button" class="btn btn-primary" ng-click="p.updateCartCountParts(p.countNumber[$index],product)">Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">-->
    <!--<div class="col-xs-6 col-md-3">-->
        <!--<a href="#" class="thumbnail">-->
            <!--<img src="..." alt="...">-->
        <!--</a>-->
    <!--</div>-->
    <!--...-->
<!--</div>-->