
<div class="container" ng-controller = "ProductController as productCtrl">
    <div class="row constrained">
        <div class="col-md-12">
            <div class="col-md-3 mycontainer">

                <div class="left-nav">
                    <accordion close-others="true" >
                        <accordion-group  is-open="isopen"
                                          ng-repeat="item in items">
                            <accordion-heading >
                                {{item.brandName}}
                                <i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                            </accordion-heading>

                            <div ng-repeat="model in item.modelDtoList">{{model.modelName}}</div>
                        </accordion-group>
                    </accordion>
                </div>

                <div class="content">
                </div>
            </div>




            <div class="col-md-2" ng-repeat = "product in GlobalVariable.product" style="height:260px;">

                <div  class= "img-responsive">
                    <img ng-src="data:image/JPEG;base64,{{product.image}}" ng-click = "productCtrl.getProductDetails(product)" > 
                </div>

                <div style="text-align: center;"><span class="product-description">{{product.description}}</span></div>
                <div ng-show = "productCtrl.user" style="text-align: center;"><span  class="product-price">${{product.retailPrice}}</span></div>


                <div   ng-show = "product.quantity > 0 ">
                    <div class="col-md-6" style="width: 30%;padding: 0px;">
                        <input ng-show = "productCtrl.user" type="text" class="form-control"  placeholder="Qty" ng-model="productCtrl.countNumber[$index]" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" style="height: 30px"/>
                    </div>
                    <div class="col-md-6" style="padding-left: 4px;width: 70%;">
                        <button style="width: 68px;font-size:9px;height: 30px;" ng-show = "productCtrl.user" type="button" class="btn-primary" ng-click = "productCtrl.updateCartCount(productCtrl.countNumber[$index],product)">Add To Cart</button>
                    </div>
                </div>
                <div   ng-show = "product.quantity <= 0 ">
                    <div  style="color: red;text-align: center;"><span style="color: red;">Out of stock</span></div>
                </div>
            </div>
        </div>
    </div>
</div>




























<!--<div class="col-md-2" style="height: 260px;" ng-repeat = "product in GlobalVariable.product">-->
                <!--<div class= "img-responsive">-->
                    <!--<img ng-src="data:image/JPEG;base64,{{product.image}}" ng-click = "productCtrl.getProductDetails(product)"> -->
                <!--</div>-->
                <!--<h2  class="product-description">{{product.description}}</h2>-->
                <!--<h2  ng-show = "productCtrl.user" class="product-price">${{product.retailPrice}}</h2>-->

                <!--<div class="row" ng-show = "product.quantity > 0 ">-->
                    <!--<div class="col-md-6" style="padding: 0px;margin: 0px;">-->
                        <!--<div class="col-md-6" style="width: 30%;padding: 0px;">-->
                            <!--<input ng-show = "productCtrl.user" type="text" class="form-control"  placeholder="Qty" ng-model="productCtrl.countNumber[$index]" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" style="height: 30px"/>-->
                        <!--</div>-->
                    <!--<div class="col-md-6" style="padding-left: 4px;width: 70%;">-->
                        <!--<button style="width: 68px;font-size:9px;height: 30px;" ng-show = "productCtrl.user" type="button" class="btn-primary" ng-click="productCtrl.updateCartCount(productCtrl.countNumber[$index],product)">Add To Cart</button>-->
                    <!--</div>-->
                <!--</div>-->

                    <!--<div  ng-show = "product.quantity <= 0 ">-->
                        <!--<div  style="color: red;text-align: center;"><span style="color: red;">Out of stock</span></div>-->
                    <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--</div>-->

