<h6 class="text-muted text-normal text-uppercase padding-top-2x">LCD BUY BACK PRICING TABLE</h6>
<hr class="margin-bottom-1x">
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>iPhone BuyBack</th>
                <th>Quality-A (Cash Price)</th>
                <th>Quality-A (Store Credit)</th>
                <th>Quality-B (Cash Price)</th>
                <th>Quality-B (Store Credit)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">iPhone 5G/5S OEM LCD</th>
                <td>$2.00</td>
                <td>$2.00</td>
                <td>$1.00</td>
                <td>$2.00</td>
            </tr>
            <tr>
                <th scope="row">iPhone 6G</th>
                <td>$7.00</td>
                <td>$8.00</td>
                <td>$4.00</td>
                <td>$5.00</td>
            </tr>
            <tr>
                <th scope="row">iPhone 6-Plus OEM LCD</th>
                <td>$12.00</td>
                <td>$13.00</td>
                <td>$6.00</td>
                <td>$7.00</td>
            </tr>
            <tr>
                <th scope="row">iPhone 6S Copy LCD</th>
                <td>$18.00</td>
                <td>$19.00</td>
                <td>$9.00</td>
                <td>$10.00</td>
            </tr>
            <tr>
                <th scope="row">iPhone 6S-Plus OEM LCD</th>
                <td>$32.00</td>
                <td>$33.00</td>
                <td>$16.00</td>
                <td>$17.00</td>
            </tr>
        </tbody>
    </table>
</div>