/* You can add global styles to this file, and also import other style files */

// @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
// @import '../node_modules/font-awesome/css/font-awesome.min.css';
// @import '../node_modules/socicon/css/socicon.css';
@import './assets/css/vendor.min.css';
@import './scss/theme.scss';
// this is for home page model-- not sure where to put, so put it here and worked
.img-model-home-page {
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 15px;
}