<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Contacts</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Contacts</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-2x mb-2">
    <div class="row">
        <div class="col-md-7">
            <div class="display-3 text-muted opacity-75 mb-30">Customer Service</div>
        </div>
        <div class="col-md-5">
            <ul class="list-icon">
                <li> <i class="icon-mail"></i><a class="navi-link" href="mailto: exwirelessatl@gmail.com"> exwirelessatl@gmail.com</a></li>
                <li> <i class="icon-bell"></i>(678) 694-1873</li>
                <li> <i class="icon-clock"></i>1 - 2 business days</li>
            </ul>
        </div>
    </div>
    <hr class="margin-top-2x">
    <!-- <div class="row margin-top-2x">
        <div class="col-md-7">
            <div class="display-3 text-muted opacity-75 mb-30">Tech Support</div>
        </div>
        <div class="col-md-5">
            <ul class="list-icon">
                <li> <i class="icon-mail"></i><a class="navi-link" href="mailto:support@unishop.com">support@unishop.com</a></li>
                <li> <i class="icon-bell"></i>(678) 694-1873</li>
                <li> <i class="icon-clock"></i>1 - 2 business days</li>
            </ul>
        </div>
    </div> -->
    <h3 class="margin-top-3x text-center mb-30">Our Location</h3>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card mb-30">
                <div class="google-map" data-height="250" data-address="514 S. Magnolia St. Orlando, FL 32806, USA" data-zoom="15" data-disable-controls="true" data-scrollwheel="false" data-marker="img/map-marker.png" data-marker-title="We are here!" data-styles="[{&quot;featureType&quot;:&quot;administrative.country&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;simplified&quot;},{&quot;hue&quot;:&quot;#ff0000&quot;}]}]"></div>
                <div class="card-block">
                    <ul class="list-icon">
                        <li> <i class="icon-map"></i>5955 Jimmy Carter Boulevard, Suite 120, Norcross, GA 30071 USA</li>
                        <li> <i class="icon-bell"></i>(678) 694-1873</li>
                        <li> <i class="icon-mail"></i><a class="navi-link" href="mailto:exwirelessatl@gmail.com">exwirelessatl@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>