<!DOCTYPE html>
<html lang="en" ng-app="excelWireless">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Best mobile device deals...</title>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"-->
          <!--integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="assets/css/signIn.css">
    <link rel="stylesheet" href = "assets/css/lcdBuyBack.css">
    <link rel="stylesheet" href="assets/css/contactUs.css">
    <link rel="stylesheet" href="assets/css/signUp.css">
    <link rel="stylesheet" href="assets/css/excellWire.css">
    <!-- Latest compiled and minified JavaScript -->
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row top-banner">
            <div class="col-sm-12 col-md-12 no-padding">
                <img src="assets/images/R2E2m83d.png" width="100%" height="65px">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 no-padding top-nav">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 no-padding">
                            <ul class="link-list">
                                <li><img src="assets/images/flag_amer_icon.png" height="20"/></li>
                                <li><span> My Account </span> | </li>
                                <li><span> Register </span> | </li>
                                <li><span>Contact Us </span> | </li>
                                <li><span>Blog</span> | </li>
                                <li><span>(877) 888-8888</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section ng-controller = "BodyController as bodyCtrl">

    <div class="container main-content">
        <div class="row">
            <div class="col-md-6 no-padding"><a href="index.html"><img src="assets/images/logo.png" height="80" width="220"></a></div>
            <div class="col-md-3 no-padding">
                <div class="input-group search-group">
                    <input type="text" class="form-control search-input" placeholder="Search Device/Model" aria-describedby="basic-addon2">
                    <span class="input-group-addon search-icon" id="search-button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 no-padding">
                <a ng-href class="site-button cart-button">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span class="badge cart-badge">4</span>
                    <span class="cart-text"> Cart </span>
                </a>
                <a href="signIn.html" class="site-button login-button">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    <span class="login-text">SIGN IN</span>
                </a>
            </div>
        </div>
        <div class="row tab-row">
            <div class="col-md-2 tab-cell">
                <span class="tab-text">HOME</span>
            </div>
            <div class="col-md-2 tab-hover tab-cell"
                 ng-mouseenter="bodyCtrl.enterTab('category', $event)"
                 ng-mouseleave="bodyCtrl.leaveTab($event)">
                <span class="tab-text">CATEGORY</span>
            </div>
            <div class="col-md-2 tab-hover tab-cell"
                 ng-mouseenter="bodyCtrl.enterTab('brand', $event)"
                 ng-mouseleave="bodyCtrl.leaveTab($event)">
                <span class="tab-text">BRAND</span>
            </div>
            <div class="col-md-2 tab-hover tab-cell">
                <span class="tab-text">PARTS</span>
            </div>
            <div class="col-md-2 link-hover tab-cell">
                <a href="libslcdBuyBack.html" class="tab-text"> <span>LCD BUYBACK</span> </a>
            </div>
            <div class="col-md-2 link-hover tab-cell">
                <a href="libscontactUs.html" class="tab-text"> <span>CONTACT US</span></a>
            </div>
        </div>
        <div class="row sub-menu" ng-show="bodyCtrl.showMenu" ng-mouseleave="bodyCtrl.leaveSubmenu($event)">
            <div class="col-sm-12 col-md-12">
                <div class="row sub-menu-1">
                    <div class="col-sm-12 col-md-12 sub-menu-cell">
                        <ul>
                            <li ng-repeat="dataItem in bodyCtrl.dataList" ng-model="bodyCtrl.categoryList">
                                <a ng-href
                                   class="btn btn-default link-box"
                                   ng-mouseover="bodyCtrl.subMenuButtonEnter($event)"
                                   ng-click="bodyCtrl.getSubMenuItems(dataItem)">{{dataItem.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row sub-menu-2" ng-show="bodyCtrl.showSubmenu" ng-mouseleave="bodyCtrl.leaveSubSubmenu($event)">
                    <div class="col-sm-12 col-md-12 sub-menu-cell">
                        <ul>
                            <li ng-repeat="subItem in bodyCtrl.subListData" ng-model="bodyCtrl.subListData">
                                <a ng-href class="btn btn-default link-box" >{{subItem.modelName}}</a>
                                <!--<a ng-href class="btn btn-default link-box" >test link</a>-->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row outset-menu">

        </div>
    </div>
</section>
<div>
    <ui-view></ui-view>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <h2>SUPPORT</h2>
                    <hr>
                    <ul>
                        <li>
                            <p>Call Us Now</p>
                        </li>
                        <li class="footer-top-margin">
                            <strong>(770-703-0801)</strong>
                        </li>

                        <li class="footer-top-margin">
                            <p>Email Us Now</p>
                        </li>
                        <li class="footer-top-margin">
                            <strong>Info@Excellwireless.com</strong>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>SHOP</h4>
                    <hr>
                    <ul>
                        <li>Category</li>
                        <li class="footer-top-margin">Brands</li>
                        <li class="footer-top-margin">Parts</li>
                        <li class="footer-top-margin">Lcd Buyback</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>MY ACCOUNT</h4>
                    <hr>
                    <ul>
                        <li>Sign In</li>
                        <li class="footer-top-margin">Sign Up</li>
                        <li class="footer-top-margin">My Cart</li>
                        <li class="footer-top-margin">History</li>


                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>STAY IN TOUCH</h4>
                    <hr>
                    <form>
                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                        <br>
                        <button type="submit" class="btn btn-primary" style="width: 100%">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="bower_components/lodash/dist/lodash.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
<!--<script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js "> </script>-->
<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
<script type="text/javascript" src="app.module.js"></script>
<script type="text/javascript" src="app/common/body.controller.js"></script>
<script type="text/javascript" src="app/common/data.service.js"></script>
<script type="text/javascript" src="app/common/productDetails.service.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
<script type="text/javascript" src = "app/login/loginController.js"></script>
<!--<script type="text/javascript" src="app/home/home.component.js"></script>-->
<script type="text/javascript" src="app/home/homeController.js"></script>
<script type="text/javascript" src="app/contactUs/contactUsController.js"></script>
</body>
</html>