<div class="offcanvas-wrapper">
    <!-- <section class="hero-slider" style="background-image: url(/assets/images/ZTE.png);"> -->
    <div class="owl-carousel large-controls dots-inside" data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 7000 }">
        <div class="item" class="hero-slider" style="background-image: url(/assets/images/Slider1.png);">
            <div class="container padding-top-3x">
                <div class="row align-items-center">
                    <div class="col-lg-5 offset-lg-1 col-md-6 padding-bottom-2x text-md-left text-center">
                        <div class="from-bottom">
                            <!-- <img class="d-inline-block w-200 mb-4" src="/assets/img/hero-slider/01.png" alt="Converse"> -->
                            <div class="h2 text-body text-normal mb-2 pt-1">Chuck Taylor All Star II</div>
                            <div class="h2 text-body text-normal mb-4 pb-1">for only <span class="text-bold">$59.99</span></div>
                        </div><a class="btn btn-primary scale-up delay-1" href="shop-single.html">Shop Now</a>
                    </div>
                    <!-- <div class="col-md-6 padding-bottom-2x mb-3"><img class="d-block mx-auto" src="/assets/images/ZTE.png" alt="Chuck Taylor All Star II"></div> -->
                </div>
            </div>
        </div>
        <div class="item" class="hero-slider" style="background-image: url(/assets/images/Slider2.jpg);">
            <div class="container padding-top-3x">
                <div class="row align-items-center">
                    <div class="col-lg-5 offset-lg-1 col-md-6 padding-bottom-2x text-md-left text-center">
                        <div class="from-bottom">
                            <div class="h2 text-body text-normal mb-2 pt-1">Puma Backpacks Collection</div>
                            <div class="h2 text-body text-normal mb-4 pb-1">starting at <span class="text-bold">$37.99</span></div>
                        </div><a class="btn btn-primary scale-up delay-1" href="shop-grid-ls.html">View Offers</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" class="hero-slider" style="background-image: url(/assets/images/Slider3.jpg);">
            <div class="container padding-top-3x">
                <div class="row align-items-center">
                    <div class="col-lg-5 offset-lg-1 col-md-6 padding-bottom-2x text-md-left text-center">
                        <div class="from-bottom">
                            <div class="h2 text-body text-normal mb-2 pt-1">Puma Backpacks Collection</div>
                            <div class="h2 text-body text-normal mb-4 pb-1">starting at <span class="text-bold">$37.99</span></div>
                        </div><a class="btn btn-primary scale-up delay-1" href="shop-grid-ls.html">View Offers</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" class="hero-slider" style="background-image: url(/assets/images/Slider4.jpg);">
            <div class="container padding-top-3x">
                <div class="row align-items-center">
                    <div class="col-lg-5 offset-lg-1 col-md-6 padding-bottom-2x text-md-left text-center">
                        <div class="from-bottom">
                            <div class="h2 text-body text-normal mb-2 pt-1">Puma Backpacks Collection</div>
                            <div class="h2 text-body text-normal mb-4 pb-1">starting at <span class="text-bold">$37.99</span></div>
                        </div><a class="btn btn-primary scale-up delay-1" href="shop-grid-ls.html">View Offers</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" class="hero-slider" style="background-image: url(/assets/images/Slider5.jpg);">
            <div class="container padding-top-3x">
                <div class="row align-items-center">
                    <div class="col-lg-5 offset-lg-1 col-md-6 padding-bottom-2x text-md-left text-center">
                        <div class="from-bottom">
                            <div class="h2 text-body text-normal mb-2 pt-1">Puma Backpacks Collection</div>
                            <div class="h2 text-body text-normal mb-4 pb-1">starting at <span class="text-bold">$37.99</span></div>
                        </div><a class="btn btn-primary scale-up delay-1" href="shop-grid-ls.html">View Offers</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="item">
                <div class="container padding-top-3x">
                    <div class="row align-items-center">
                        <div class="col-lg-5 offset-lg-1 col-md-6 padding-bottom-2x text-md-left text-center">
                            <div class="from-bottom"><img class="d-inline-block mb-4" src="/assets/img/hero-slider/logo03.png" style="width: 125px;" alt="Motorola">
                                <div class="h2 text-body text-normal mb-2 pt-1">Smart Watch Moto 360 2nd</div>
                                <div class="h2 text-body text-normal mb-4 pb-1">for only <span class="text-bold">$299.99</span></div>
                            </div><a class="btn btn-primary scale-up delay-1" href="shop-single.html">Shop Now</a>
                        </div>
                        <div class="col-md-6 padding-bottom-2x mb-3"><img class="d-block mx-auto" src="/assets/img/hero-slider/03.png" alt="Moto 360"></div>
                    </div>
                </div>
            </div> -->
    </div>
    <!-- </section> -->

    <!--Start End of Banner after models -->
    <section class="container padding-top-3x padding-bottom-3x">
        <h1 class="text-center mb-30">FEATURED MODEL</h1>
        <hr>
        <br>
        <!-- <div class="owl-carousel"> -->
        <!-- Product-->

        <div class="row">

            <div class="col-md-3">
                <a href="#" class="img-model-home-page" style="border:none">
                    <img src="assets/img/model-homepage/model1.jpg" alt="Product">
                </a>
                <h6 align="center">Galaxy J3 Emerge/ J3 Prime/ Amp Prime 2/ Galaxy J3 (2017) /J327 (Boost Mobile/ Sprint/ MetroPCS/ T-Mobile/ Straight Talk/ Cricket/ AT&T)</h6>
            </div>

            <div class="col-md-3">
                <a class="img-model-home-page" style="border:none" href="/assets/shop-single.html"><img src="assets/img/model-homepage/model2.jpg" alt="Product"></a>
                <h6 align="center">Galaxy J7 Perx/ J7 Sky Pro/ J7V/ J7 (2017) /J727 (Boost Mobile/ Sprint/ Virgin Mobile/ Verizon/ Straight Talk)</h6>
            </div>

            <div class="col-md-3">
                <a class="img-model-home-page" style="border:none" href="/assets/shop-single.html"><img src="assets/img/model-homepage/model3.jpg" alt="Product"></a>
                <h6 align="center">Galaxy S8 /G950</h6>
            </div>

            <div class="col-md-3">
                <a class="img-model-home-page" style="border:none" href="/assets/shop-single.html"><img src="assets/img/model-homepage/model3.jpg" alt="Product"></a>
                <h6 align="center">Galaxy S8 Plus /G955</h6>
            </div>

        </div>

        <!-- Second Row -->
        <div class="row">
            <div class="col-md-3">
                <a class="img-model-home-page" style="border:none" href="/assets/shop-single.html"><img src="assets/img/model-homepage/model5.jpg" alt="Product"></a>
                <h6 align="center">LG K20 Plus/ K20 V/ Harmony/ Grace/ M250 (T-Mobile, Verizon, Cricket, Straight Talk)</h6>
            </div>
            <div class="col-md-3">
                <a class="img-model-home-page" style="border:none" href="/assets/shop-single.html"><img src="assets/img/model-homepage/model6.jpg" alt="Product"></a>
                <h6 align="center">LG Aristo MS210/ K8 (2017) US215/ Fortune/ Phoenix 3/ Risio 2/ K4 (2107) (MetroPCS/ T-Mobile/ US Cellular/AT&T/Cricket)</h6>
            </div>
            <div class="col-md-3">
                <a class="img-model-home-page" style="border:none" href="/assets/shop-single.html"><img src="assets/img/model-homepage/model8.jpg" alt="Product"></a>
                <h6 align="center">LG Stylo 3 LS777/ Stylo 3 Plus TP450 (Boost Mobile/ MetroPCS/ T-Mobile/ Straight Talk)</h6>
            </div>

            <div class="col-md-3">
                <a class="img-model-home-page" style="border:none" href="/assets/shop-single.html"><img src="assets/img/model-homepage/model8.jpg" alt="Product"></a>
                <h6 align="center">LG X Power 2 /M320</h6>
            </div>

        </div>

        <!-- third row -->
        <div class="row">
            <div class="col-md-3">
                <a class="img-model-home-page" style="border:none" href="/assets/shop-single.html"><img src="assets/img/model-homepage/model9.jpg" alt="Product"></a>
                <h6 align="center">Apple iPhone 7 Plus 5.5"</h6>
            </div>
            <div class="col-md-3">
                <a class="img-model-home-page" style="border:none" href="/assets/shop-single.html"><img src="assets/img/model-homepage/model9.jpg" alt="Product"></a>
                <h6 align="center">Apple iPhone 7 4.7"</h6>
            </div>
            <div class="col-md-3">
                <a class="img-model-home-page" style="border:none" href="/assets/shop-single.html"><img src="assets/img/model-homepage/model11.jpg" alt="Product"></a>
                <h6 align="center">ZTE Max XL /N9560 (Boost Mobile)</h6>
            </div>

            <div class="col-md-3">
                <a class="img-model-home-page" style="border:none" href="/assets/shop-single.html"><img src="assets/img/model-homepage/model12.jpg" alt="Product"></a>
                <h6 align="center">ZTE ZMax Pro 2/ Sequoia /Z982 (MetroPCS) </h6>
            </div>

        </div>

        <!-- forth row -->
        <div class="row">
            <div class="col-md-3">
                <a class="img-model-home-page" style="border:none" href="/assets/shop-single.html"><img src="assets/img/model-homepage/model13.jpg" alt="Product"></a>
                <h6 align="center">Alcatel REVVL/Atcatel A30 Fierce 2017/ Alcatel A30 Plus Walters</h6>
            </div>
            <div class="col-md-3">
                <a class="img-model-home-page" style="border:none" href="/assets/shop-single.html"><img src="assets/img/model-homepage/model14.jpg" alt="Product"></a>
                <h6 align="center">Samsung Galaxy J7 (2015) /J700 (Boost Mobile/ MetroPCS/ T-Mobile/ Virgin Mobile)</h6>
            </div>
            <div class="col-md-3">
                <a class="img-model-home-page" style="border:none" href="/assets/shop-single.html"><img src="assets/img/model-homepage/model15.jpg" alt="Product"></a>
                <h6 align="center">Samsung Galaxy J3 (2016) J320/ Galaxy Sky S320/ Galaxy Sol J321/ Amp Prime/ Express Prime (AT&T/ Boost Mobile/ Sprint/ Cricket/ Straight Talk)</h6>
            </div>

            <div class="col-md-3">
                <a class="img-model-home-page" style="border:none" href="/assets/shop-single.html"><img src="assets/img/model-homepage/model16.jpg" alt="Product"></a>
                <h6 align="center">Motorola Moto E4 /XT1767 (Boost Mobile/ MetroPCS/ Sprint/ Verizon/ US Cellular)</h6>
            </div>

        </div>


    </section>

    <!-- <section class="container-fluid padding-top-3x">
        <div class="row">
            <div class="col-xl-5 col-lg-6 offset-xl-1 mb-30">
                <div class="rounded bg-faded position-relative padding-top-3x padding-bottom-3x"><span class="product-badge text-danger" style="top: 24px; left: 24px;">Limited Offer</span>
                    <div class="text-center">
                        <h3 class="h2 text-normal mb-1">New</h3>
                        <h2 class="display-2 text-bold mb-2">Sunglasses</h2>
                        <h4 class="h3 text-normal mb-4">collection at discounted price!</h4>
                        <div class="countdown mb-3" data-date-time="10/30/2017 12:00:00">
                            <div class="item">
                                <div class="days">00</div><span class="days_ref">Days</span>
                            </div>
                            <div class="item">
                                <div class="hours">00</div><span class="hours_ref">Hours</span>
                            </div>
                            <div class="item">
                                <div class="minutes">00</div><span class="minutes_ref">Mins</span>
                            </div>
                            <div class="item">
                                <div class="seconds">00</div><span class="seconds_ref">Secs</span>
                            </div>
                        </div><br><a class="btn btn-primary margin-bottom-none" href="#">View Offers</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 mb-30" style="min-height: 270px;">
                <div class="img-cover rounded" style="background-image: url(/assets/img/banners/home01.jpg);"></div>
            </div>
        </div>
    </section> -->
    <!-- Promo #2-->
    <section class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-12 offset-xl-1">
                <div class="fw-section rounded padding-top-4x padding-bottom-4x" style="background-image: url(/assets/img/banners/home02.jpg);"><span class="overlay rounded" style="opacity: .35;"></span>
                    <div class="text-center">
                        <h3 class="display-4 text-normal text-white text-shadow mb-1">Old Collection</h3>
                        <h2 class="display-2 text-bold text-white text-shadow">HUGE SALE!</h2>
                        <h4 class="d-inline-block h2 text-normal text-white text-shadow border-default border-left-0 border-right-0 mb-4">at our outlet stores</h4><br><a class="btn btn-primary margin-bottom-none" href="contacts.html">Locate Stores</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--End of Banner after models -->

    <!-- Services-->
    <section class="container padding-top-3x padding-bottom-2x">
        <h1 class="text-center mb-30">REASON TO LOVE US</h1>
        <hr>
        <br>
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center mb-30"><img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="/assets/img/services/01.png" alt="Shipping">
                <h6>Free Worldwide Shipping</h6>
                <p class="text-muted margin-bottom-none">Free shipping for all orders over $100</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center mb-30"><img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="/assets/img/services/02.png" alt="Money Back">
                <h6>Money Back Guarantee</h6>
                <p class="text-muted margin-bottom-none">We return money within 30 days</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center mb-30"><img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="/assets/img/services/03.png" alt="Support">
                <h6>24/7 Customer Support</h6>
                <p class="text-muted margin-bottom-none">Friendly 24/7 customer support</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center mb-30"><img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="/assets/img/services/04.png" alt="Payment">
                <h6>Secure Online Payment</h6>
                <p class="text-muted margin-bottom-none">We posess SSL / Secure Certificate</p>
            </div>
        </div>
    </section>
</div>