<!-- <header> -->
<div class="topbar" style="background-color: #0da9ef;">
    <div class="topbar-column">
        <a class="hidden-md-down" style="color: #fff;" href="mailto:support@unishop.com">
            <i class="icon-mail"></i> &nbsp; exwirelessatl@gmail.com
        </a>
        <a class="hidden-md-down" href="" style="color: #fff;">
            <i class="icon-bell"></i> &nbsp; (678) 694-1873</a>
        <a class="social-button sb-facebook shape-none sb-dark" href="#" target="_blank" style="color: #fff;">
            <i class="socicon-facebook"></i>
        </a>
        <a class="social-button sb-twitter shape-none sb-dark" href="#" target="_blank" style="color: #fff;">
            <i class="socicon-twitter"></i>
        </a>
        <a class="social-button sb-instagram shape-none sb-dark" href="#" target="_blank" style="color: #fff;">
            <i class="socicon-instagram"></i>
        </a>
        <a class="social-button sb-pinterest shape-none sb-dark" href="#" target="_blank" style="color: #fff;">
            <i class="socicon-pinterest"></i>
        </a>
    </div>
    <div class="topbar-column">
        <a [routerLink]="['/myaccount']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="social-button sb-facebook shape-none sb-dark" style="margin-right: 0px; color: #fff;">
        LOGIN |
        </a>
        <a [routerLink]="['/myaccount']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="social-button sb-facebook shape-none sb-dark" style="margin-right: 0px; color: #fff;">
        MY ACCOUNT |
        </a>
        <a class="social-button sb-facebook shape-none sb-dark" style="margin-right: 0px" [routerLink]="['/myaccount']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" style="margin-right: 0px; color: #fff;">
        REGISTER |
        </a>
        <a class="social-button sb-facebook shape-none sb-dark" [routerLink]="['/contactus']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" style="margin-right: 0px; color: #fff;">
        CONTACT US
        </a>
        <div class="lang-currency-switcher-wrap">
            <div class="lang-currency-switcher">
                <span class="language">
                    <img alt="English" src="/assets/img/flags/GB.png">
                </span>
                <span class="currency" style="color: #fff;">
                    $ USD
                </span>
            </div>
        </div>
    </div>
</div>
<!-- </header> -->