.product-flex-grid {
    display: flex;
    // width: 1300px;
    flex-flow: row wrap;
    // flex-grow: 2;
    justify-content: center;
    margin: 0 auto;
    .product-flex-item {
        
        align-self: center ;
        margin: 10px;
        // flex-basis: 23%;
        @media all and (min-width: 1024px){
            flex-basis: 23%;
        }
        @media(min-width:768px) and (max-width: 1024px){
            flex-basis: 40%;
        }
        @media(max-width: 768px){
            flex-basis: 100%;
        }
        // min-width: 100px; 
        // width: 300px;  /* Or whatever */
        // height: 300px; /* Or whatever */
        /* Magic! */
    }
}

.cart-button{
    position: fixed;
    right: 15px;
    cursor: pointer;
    text-align: center;
    z-index: 10;
    img{
        width: 70px;
        color: transparent;
        vertical-align: middle;
    }
}