.product-flex-grid {
    display: flex;
    // width: 1200px;
    flex-flow: row wrap;
    // flex-grow: 2;
    justify-content: center;
    .product-flex-item{
        flex-basis: 23%;
        // width: 300px;  /* Or whatever */
        // height: 300px; /* Or whatever */
        margin: 10px;  /* Magic! */
    }
}
