<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>Login / Register Account</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li><a href="account-orders.html">Account</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>Login / Register</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-2">
        <div class="row">
            <div class="col-md-6">
                <form class="login-box" [formGroup]="customerLoginForm">
                    <div class="row margin-bottom-1x">
                        <div class="col-xl-4 col-md-4 col-sm-4">

                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-4">
                            <img src="/assets/images/neoLogo.jpg" />
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-4">

                        </div>
                    </div>
                    <h4 class="margin-bottom-1x">Or using form below</h4>
                    <div class="form-group input-group row">
                        <input class="form-control" type="email" placeholder="Email" formControlName="email">
                        <span class="input-group-addon">
                                <i class="icon-mail"></i>
                            </span>
                    </div>
                    <div class="form-group input-group row">
                        <input class="form-control" type="password" placeholder="Password" formControlName="password">
                        <span class="input-group-addon">
                            <i class="icon-lock"></i>
                        </span>
                    </div>
                    <div class="d-flex flex-wrap justify-content-between padding-bottom-1x row">
                        <label class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" checked>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Remember me</span>
                      </label>
                        <a class="navi-link" href="#">Forgot password?</a>
                    </div>
                    <div class="text-center text-sm-right">
                        <button class="btn btn-primary margin-bottom-none" type="submit" [disabled]="this.customerLoginForm.invalid" (click)="this.customerLogin()">Login</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <!-- <div class="padding-top-3x hidden-md-up"></div> -->
                <h3 class="margin-bottom-1x">No Account? Register</h3>
                <p>Registration takes less than a minute but gives you full control over your orders.</p>
                <form class="row" [formGroup]="customerForm">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg-fn">First Name *</label>
                            <input class="form-control" formControlName="onlyFirstName" type="text">
                            <label style="color:red;" *ngIf="this.customerForm.get('onlyFirstName').hasError('required') && this.customerForm.get('onlyFirstName').touched">*Required </label>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg-ln">Last Name</label>
                            <input class="form-control" formControlName="lastName" type="text">
                            <label style="color:red;" *ngIf="this.customerForm.get('lastName').hasError('required') && this.customerForm.get('lastName').touched">*Required </label>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg-email">E-mail Address</label>
                            <input class="form-control" formControlName="email" type="email">
                            <label style="color:red;" *ngIf="this.customerForm.get('email').hasError('required') && this.customerForm.get('email').touched">*Required </label>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg-phone">Phone Number</label>
                            <input class="form-control" formControlName="phoneNo" type="text">
                            <label style="color:red;" *ngIf="this.customerForm.get('phoneNo').hasError('required') && this.customerForm.get('phoneNo').touched">*Required </label>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg-pass">Tax Id</label>
                            <input class="form-control" formControlName="taxId" type="password">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg-pass-confirm">Date Of Birth</label>
                            <input class="form-control" formControlName="dateOfBirth" type="text">
                        </div>
                    </div>

                    <!-- Shipping details -->
                    <h3 class="margin-bottom-1x">Shipping Address</h3>
                    <p>Registration takes less than a minute but gives you full control over your orders.</p>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg-fn">Company Name</label>
                            <input class="form-control" formControlName="companyName" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg-ln">Bussiness Address Line</label>
                            <input class="form-control" formControlName="street" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg-email">City</label>
                            <input class="form-control" formControlName="city" type="email">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg-phone">State</label>
                            <input class="form-control" formControlName="state" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg-pass">Country</label>
                            <input class="form-control" formControlName="country" type="test">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg-pass-confirm">Zip/Postal Code</label>
                            <input class="form-control" formControlName="zipcode" type="password">
                        </div>
                    </div>

                    <div class="col-12 text-center text-sm-right">
                        <button class="btn btn-primary margin-bottom-none" type="submit" [disabled]="this.customerForm.invalid" (click)="this.addCustomer()">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>