<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>My Orders</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li><a href="account-orders.html">Account</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>My Orders</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
    <div class="row">
        <div class="col-lg-4">
            <aside class="user-info-wrapper">
                <div class="user-cover" style="background-image: url(img/account/user-cover-img.jpg);">
                    <div class="info-label" data-toggle="tooltip" title="You currently have 290 Reward Points to spend"><i class="icon-medal"></i>290 points</div>
                </div>
                <div class="user-info">
                    <div class="user-avatar">
                        <a class="edit-avatar" href="#"></a><img src="img/account/user-ava.jpg" alt="User"></div>
                    <div class="user-data">
                        <h4>Daniel Adams</h4><span>Joined February 06, 2017</span>
                    </div>
                </div>
            </aside>
            <nav class="list-group"><a class="list-group-item justify-content-between active" href="account-orders.html"><span><i class="icon-bag"></i>Orders</span><span class="badge badge-primary badge-pill">6</span></a>
                <a class="list-group-item" href="account-profile.html"><i class="icon-head"></i>Profile</a><a class="list-group-item" href="account-address.html"><i class="icon-map"></i>Addresses</a><a class="list-group-item justify-content-between" href="account-wishlist.html"><span><i class="icon-heart"></i>Wishlist</span><span class="badge badge-primary badge-pill">3</span></a>
                <a class="list-group-item justify-content-between" href="account-tickets.html"><span><i class="icon-tag"></i>My Tickets</span><span class="badge badge-primary badge-pill">4</span></a>
            </nav>
        </div>
        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <div class="table-responsive">
                <table class="table table-hover margin-bottom-none">
                    <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Date Purchased</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transaction of this.transactionDto">
                            <td><span class="text-medium">{{transaction.transactionCompId}}</span></td>
                            <td>{{transaction.transactionDate}} {{transaction.transactionTime}}</td>
                            <td><span class="text-danger">{{transaction.totalQuantity}}</span></td>
                            <td><span class="text-medium">${{transaction.totalAmount}}</span></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <hr>
            <div class="text-right"><a class="btn btn-link-primary margin-bottom-none" href="#"><i class="icon-download"></i>&nbsp;Order Details</a></div>
        </div>
    </div>
</div>